<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><i class='fa fa-envelope'></i> &nbsp;<a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><i class='fa fa-facebook-official'></i> &nbsp;<a href='https://facebook.com/bainbridgeislandscouts' target='_blank'>Facebook</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
